body {
  box-sizing: border-box;
  background-color: darkblue;
}

h1 {
  color: lightgray;
}

h2 {
  color: lightgray;
}

form {
  display: grid;
  grid-template-columns: 350px;
  gap: 10px;
}

.form-label {
  color: lightgray;
  font-size: 20px;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-areas: 
    "topL topM topR"
    "midL midM midR"
    "botL botM botR"
    "game-status game-status game-status";
  width: fit-content;
}

.game-status {
  grid-area: game-status;
  color: lightgray;
  font-size: 25px;
}

.cell {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: black;
  font-size: 50px;
  color: lightgray;
  text-align: center;
  vertical-align: center;
  line-height: 100px;
}

.table-cell {
  border-style: solid;
  font-size: 25px;
  text-align: center;
  color: lightgray;
  padding: 10px;
}
