.cell {
  border-style: solid;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.add-book-form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#book-status {
  width: fit-content;
}

.add-book-form {
  width: 50%;
}
